/*--carousel*/
.carouselExampleDark {
  margin-left: 25%;
  display: grid;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 550px;
  height: 550px;
  font-family: bold;
  text-align: center;
  justify-content: center;
  align-content: center;
}
