/*--main--*/
main {
  margin-top: 10%;

  .titulo0 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-family: bold;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 3%;
  }
}
